* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #764d8d;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  background: rgba(2, 6, 23, 0.8);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
}

.menu a {
  color: #544166;
  text-decoration: none;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 8px;
}

.menu a:hover {
  background: #38bdf8;
  color: #020617;
}

/* HEADER */
header {
  text-align: center;
  padding: 60px 20px 40px;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  color: #94a3b8;
}

/* GAMES */
.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

/* CARD */
.card {
  background: rgba(30, 41, 59, 0.9);
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.card h2 {
  margin-top: 0;
}

.card p {
  color: #94a3b8;
  font-size: 0.9rem;
}

/* BOTÕES */
.card a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 6px;
  padding: 8px 14px;
  border-radius: 10px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.card a:hover {
  background: #0ea5e9;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  font-size: 0.85rem;
  color: #94a3b8;
}
/* ANIMAÇÕES */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ENTRADA DO HEADER */
header {
  animation: fadeUp 0.8s ease-out;
}

/* ENTRADA DOS CARDS */
.card {
  animation: fadeUp 0.6s ease-out;
  animation-fill-mode: both;
}


/* DELAY ENTRE OS CARDS */
.card:nth-child(1) { animation-delay: 0.1s; }
.card:nth-child(2) { animation-delay: 0.2s; }
.card:nth-child(3) { animation-delay: 0.3s; }
.card:nth-child(4) { animation-delay: 0.4s; }

/* FOOTER SUAVE */
footer {
  animation: fadeIn 1s ease-in;
}
/* BOTÃO DARK/LIGHT */
#themeToggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #462052;
  padding: 6px 10px;
  border-radius: 8px;
}

#themeToggle:hover {
  background: #38bdf8;
  color: #020617;
}

/* LIGHT MODE */
body.light {
  background: linear-gradient(135deg, #613a66, #332b5c);
  color: #020617;
}

body.light header p,
body.light footer,
body.light .card p {
  color: #334155;
}

body.light .menu {
  background: rgba(116, 57, 101, 0.8);
}

body.light .card {
  background: rgb(119, 56, 109);
}

body.light .menu a {
  color: #020617;
}
